body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
}

.wrapper a {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(0, 110, 255);
    font-size: xx-large;
    font-weight: 700;
    margin-left: 35px;
    cursor: pointer;
}

